[Unit]
Description=Xray VPN Service (REALITY Protocol)
Documentation=https://xtls.github.io
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
User=root
ExecStart=/usr/bin/docker run \
  --rm \
  --name xray \
  -v {{ xray_config_dir }}:/etc/xray \
  -p 443:443/tcp \
  {{ xray_docker_image }} \
  /usr/bin/xray -c /etc/xray/config.json

ExecStop=/usr/bin/docker stop xray
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
