[Unit]
Description=Xray VPN Service (REALITY Protocol)
Documentation=https://xtls.github.io
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
User=root
ExecStartPre=/usr/bin/docker pull teddysun/xray:latest
ExecStart=/usr/bin/docker run \
  --rm \
  --name xray \
  -v /root/xray-config:/etc/xray \
  -p 443:443/tcp \
  teddysun/xray:latest \
  /usr/bin/xray -c /etc/xray/config.json

ExecStop=/usr/bin/docker stop xray
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target